#screen-content{
    background-image: url(../assets/phone-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#app-logo{
    border: 2px solid blue;
    border-radius: 25%;
    height: 11%;
    width: 25%;
    margin-top: 166px;
    margin-left: 29px;
}

#app-name{
    margin: auto;
}